/* Reset Padding Margin */
* {
    margin: 0;
    padding: 0;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Menentukan Warna */
:root {
    --colorPrimer: #7ACABB;
    --colorSecondary: #CA7A89;
}

/* Container */
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.container > h1 {
    margin: 50px 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--colorPrimer);
    position: fixed;
    top: 0;
    transition: top 0.3s;
}

#navbar > a {
    text-decoration: none;
    color: var(--colorSecondary);
    padding: 15px;
    display: block;
}

#navbar > a:hover {
    background-color: var(--colorSecondary);
    color: var(--colorPrimer);
}

#navMobile {
    display: none;
}

/* Navbar Dropdown */
.navdrop > a {
    text-decoration: none;
    color: var(--colorSecondary);
    padding: 15px;
    display: block;
}

.navdrop > a:hover {
    background-color: var(--colorSecondary);
    color: var(--colorPrimer);
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--colorPrimer);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: var(--colorSecondary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--colorSecondary);
    color: var(--colorPrimer);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    top: 100%;
}

/* Hero */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    background-color: var(--colorPrimer);
    text-align: center;
}

#hero > img {
    margin-bottom: 20px;
    border-radius: 300px;
    height: 30vh;
    width: auto;
}

/* Tentang Saya */
#about {
    flex-direction: column;
    height: 300px;
}

#about > p {
    padding: 0 30px;
}

/* Pendidikan */
#education {
    background-color: var(--colorPrimer);
    margin-top: -5px;
}

.educationItem {
    text-align: center;
}

.educationItem > img {
    width: 200px;
    padding: 10px;
}

/* Kontak */
#contact {
    row-gap: 0;
    padding: 0px 30px 10px 30px;
}

.sosmed {
    display: flex;
    align-items: center;
    background-color: var(--colorPrimer);
    text-align: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

.sosmed > a {
    padding: 25px 50px;
    text-decoration: none;
    color: var(--colorSecondary);
}

.sosmed > a > img {
    padding-bottom: 10px;
}

.sosmed:hover {
    background-color: var(--colorSecondary);
}

.sosmed > a:hover {
    color: var(--colorPrimer);
}

/* Footer */
footer {
    padding: 30px;
    text-align: right;
    background-color: var(--colorPrimer);
    margin-top: -10;
}

/* Warna Ombak */
svg > path {
    fill: var(--colorPrimer);
}

/* Responsive */
/* Tablet*/
@media screen and (max-width: 768px) {

}

/* Mobile */
@media screen and (max-width: 576px) {
    /* Navbar */
    #navbar {
        display: none;
    }

    #navMobile {
        display: flex;
        background-color: var(--colorPrimer);
        justify-content: space-around;
        padding: 20px 0;
        color: black;
        position: fixed;
        width: 100%;
    }
    
    #navMobile ul {
        display: flex;
        list-style: none;
        width: 50%;
        justify-content: space-between;
    }
    
    #navMobile ul li a {
        color: black;
        text-decoration: none;
        font-size: 0.8em;
    }
    
    #navMobile ul li a:hover {
        color: white;
    }
    
    /* Hamburger Menu */
    .menu-toggle {
        display: none;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: relative;
    }
    
    .menu-toggle input {
        position: absolute;
        width: 40px;
        height: 28px;
        left: -6px;
        top: -4px;
        opacity: 0;
        z-index: 2;
    }
    
    .menu-toggle span {
        display: block;
        width: 28px;
        height: 3px;
        background-color: black;
        border-radius: 3px;
        transition: all 0.5s;
    }
    
    /* Hamburger Menu Animation */
    .menu-toggle span:nth-child(2) {
        transform-origin: 0 0;
    }
    
    .menu-toggle span:nth-child(4) {
        transform-origin: 0 0;
    }
    
    .menu-toggle input:checked ~ span:nth-child(2) {
        background-color: white;
        transform: rotate(40deg) translate(-1px, -1px);
    }
    
    .menu-toggle input:checked ~ span:nth-child(3) {
        opacity: 0;
        transform: scale(0);
    }
    
    .menu-toggle input:checked ~ span:nth-child(4) {
        background-color: white;
        transform: rotate(-45deg) translate(-1px, 0);
    }

    .menu-toggle {
        display: flex;
    }

    #navMobile ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        background-color: var(--colorPrimer);
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    #navMobile ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    .dropdown-content {
        top: -500%;
    }

    #hero {
        padding-top: 70px;
    }

    /* Responsive Flex Container */
    #education > .container {
        flex-direction: column;
    }

    #contact > .container {
        flex-direction: column;
    }
}